@import "../../theme/_style.scss";

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	margin-bottom: 25px;
	width: 100%;
	// max-width: 20%;
	height: 600px;
	min-width: 120px;
	width: 300px;
	background-color: $color3;
	z-index: 1;
	justify-content: space-around;
	mask-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0.9)
	);

	.rating {
	}
	img {
		// width: 100%;
		object-fit: cover;
		height: 320px;
		max-width: 240px;

		// margin-bottom: 15px;
		// margin: 5px;
	}

	.info {
		height: 100px;
		margin-bottom: 2px;
		overflow: hidden;
		padding: 0px 10px;
		line-height: 20px;
		font-weight: 400;
		width: 200px;
		// word-wrap: break-word;
	}

	button {
		background-color: $color2;
		margin-bottom: 5px;
	}
}
