//* Primary Colors
//? Not True black
$color1: #131921;
//? Amazon Orange
$color2: #ffa500;
//?
$color3: #e6e6e6;
//? Blueish Black
$color4: #20272f;
// ? Amazon blue
$color5: #232f3e;

//* Mobile
$mobile: 768px;

//* Extra
//? CornflowerBlue
$color6: #6495ed;
//? RebeccaPurple
$color7: #663399;
//? MediumSlateBlue
$color8: #7b68ee;
//? MediumPurple
$color9: #9370db;
//? DodgerBlue
$colora1: #1e90ff;
//? Firebrick
$colora2: #b22222;
//? Lightgreen
$colora3: #90ee90;
//? SteelBlue
$colora4: #4682b4;
//? SlateGray
$colora5: #708090;
//? SlateBlue
$colora6: #6a5acd;
//? SkyBlue
$colora7: #87ceeb;
//? LightSlateGray
$colora8: #778899;
//? AliceBlue
$colora9: #f0f8ff;
