@import "../../theme/_style.scss";

.carouselImage {
	width: 100%;
	height: 25vh;
	object-fit: cover;
	z-index: -1;
}

.carouselItem {
	background-color: $color4 !important;
	box-shadow: none !important;
}

.carousel {
	margin: 0 10px;

}
