@import "../../theme/_style.scss";

.checkoutProduct {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;

	.image {
		width: 180px;
		object-fit: contain;
		height: 180px;
	}

	.info {
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.bottom {
		display: flex;
		flex-direction: column;
		.itemInfo {
			display: flex;

			width: 100%;
			justify-content: space-between;
			align-items: center;
			.price {
				margin: 5px 0;
			}
			.title {
				font-size: 17px;
				font-weight: 600;
			}
		}

		.buttons {
			display: flex;
			align-items: center;
			margin-top: 10px;
			justify-content: flex-end;

			button {
				background-color: $color2;
			}
		}
	}
}
