@import "../../theme/_style.scss";
.nav {
	display: flex;
	justify-content: space-evenly;

	.option {
		display: flex;
		flex-direction: column;
		margin: 0 7px;
		color: $color3;
		justify-content: center;

		.optionLineOne {
			font-size: 10px;
		}
		.optionLineTwo {
			font-weight: 800;
			font-size: 13px;
		}
	}
}

@media (max-width: $mobile) {
	.nav {
		.premium {
			display: none;
		}
	}
}
